/* Container */
.killer-buttons {
    display: flex;
    height: 75px;
    width: 740px;
    background-color: #659a81;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    margin-top: 10px;
}

/* General button styles */
.killer-button {
    width: 160px;
    height: 45px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 10px;
}

.killer-button:hover {
    border-color: #000;
}

.killer-button:focus {
    outline: none;
}

/* Specific button styles */
.delete-box-button {
    background-color: #d1c4e9;
    color: #333;
}

.delete-box-button:hover {
    background-color: #b39ddb;
}

.set-box-total-button {
    background-color: #c5cae9;
    color: #333;
}

.set-box-total-button:hover {
    background-color: #9fa8da;
}

.create-box-button {
    background-color: #ffccbc;
    color: #333;
}

.create-box-button:hover {
    background-color: #ffab91;
}

.toggle-color-button {
    background-color: rgba(162, 253, 177, 0.6);
}

.toggle-color-button:hover {
    box-shadow: 0 0 10px rgba(27, 75, 40, 0.657);
    transform: scale(1.01);
}

/* Media */
@media (max-width: 790px) {
    .inner-killer-buttons {
            display: grid;
            grid-template-columns: 1fr 1fr;
    }

    .killer-button {
        width: 170px;
        margin-right: 20px;
        margin-left: 20px   ;
    }

    .delete-box-button{
        justify-self: right;
    }

    .create-box-button {
        justify-self: right;
    }

    .killer-buttons {
        width: 440px;
        height: 140px;
        
    }
}
